<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbog.framework.mybatis.mapper.TestMapper">
    <resultMap id="testMap" type="com.xbog.framework.mybatis.beans.Test">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nums" jdbcType="INTEGER" property="nums"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="testMap">

     select * from test where id = #{id}#

  </select>

</mapper>